.container {
  display: flex;
  flex-direction: column-reverse;
  max-width: 580px;
  margin: 0 auto;
  @media (min-width: 940px) {
    display: grid;
    grid-template-areas: "main summary";
    max-width: 100%;
    margin: unset;
    flex: 1;
    grid-template-columns:
      minmax(min-content, calc(50% + calc(calc(58rem - 48rem) / 2)))
      1fr;
  }
}

.main {
  grid-area: main;
  height: 100%;
  display: flex;
  @media (min-width: 940px) {
    justify-content: flex-end;
    border-right: 1px solid rgb(204, 204, 204);
  }
}

.summary {
  grid-area: summary;
}
