.checkoutWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100dvh;

  @supports (height: 100svh) {
    min-height: 100svh;
  }
}

.navbar {
  position: relative;
  height: 48px;
  border-bottom: 1px solid rgb(204, 204, 204);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0 22px;
  
  .logo {
    width: 60px;
  }

  .link {
    display: flex;
    align-items: center;
  }
}
