.root {
  position: sticky;
  width: 100%;
  right: auto;
  left: auto;
  top: 0;
  bottom: 0;
  padding: 16px;
  @media (min-width: 940px) {
    max-width: 480px;
    padding: 32px;
  }
}

.container {
  background: rgb(255, 255, 255);
  border: 1px solid rgb(229, 229, 229);
  border-radius: 5px;
  padding: 16px;

  @media (min-width: 940px) {
    background: transparent;
    border: none;
    padding: 0;
  }
}

.details {
  height: 0;
  position: relative;
  overflow: hidden;
  @media (min-width: 940px) {
    height: auto;
  }
}

.accordionButton {
  cursor: pointer;
  display: block;
  background: none;
  border: none;
  width: 100%;
  text-align: unset;
  padding: 10px 0;
  font-weight: 700;

  @media (min-width: 940px) {
    display: none;
  }
}

.priceRow {
  display: grid;
  grid-template-columns: 1fr 2fr;
  column-gap: 17px;
  font-size: 14px;
}

.total {
  font-weight: 700;
}

.price {
  text-align: right;
  justify-self: end;
  font-weight: inherit;
  display: flex;
  align-items: center;
}

.pricingTotal {
  display: none;
  margin-top: 8px;
  @media (min-width: 940px) {
    display: block;
  }
}
.totalLabel {
  font-weight: 700;
  display: flex;
  align-items: center;

  @media (min-width: 940px) {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.625rem;
    align-items: start;
  }
}

.totalPrice {
  text-align: right;
  justify-self: end;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  @media (min-width: 940px) {
    font-size: 1rem;
    font-weight: 600;
    line-height: 1.625rem;
  }
}

.chevron {
  margin-right: 10px;
}

/* Item */

.item {
  display: flex;
  height: 100%;
  &:not(:first-child) {
    margin-top: 14px;
  }
}

.imageCell {
  justify-content: flex-start;
  flex-direction: column;
  display: flex;
  width: 75px;
  height: 75px;
  aspect-ratio: 1;
  position: relative;
  @media (min-width: 940px) {
    height: 100px;
    width: 100px;
  }
}

.image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  border-radius: 5px;
  border: 1px solid rgb(205, 205, 205);
  background: var(--page-bg);
  padding: 5px;
  position: absolute;
  inset: 0;
}

.itemDetails {
  padding-left: 14px;
  justify-content: center;
  flex-grow: 1;
  flex-direction: column;
  align-self: baseline;
  display: flex;
  min-height: 100px;
}

.title {
  font-size: 14px;
  font-weight: 500;
}

.attributes {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.56);
}

.quantity {
  margin-top: 6px;
  font-size: 12px;
}

.unitPriceCell {
  font-size: 14px;
  white-space: pre;
  justify-content: center;
  display: flex;
  align-self: baseline;
  flex-direction: column;

  .strikeThrough {
    text-decoration: line-through;
    color: rgba(0, 0, 0, 0.56);
  }
}

.pricingContainer {
  padding-top: 30px;
  line-height: 24px;
}

.pricingDetails {
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(204, 204, 204);
  border-bottom: 1px solid rgb(204, 204, 204);
  padding: 10px 0;
  row-gap: 10px;
}

.taxPrice {
  font-size: 13px;
  font-weight: 400;
  line-height: 1;
  color: rgba(23, 23, 22, 0.5);
}
