.selectField {
  position: relative;
  display: grid;
  gap: var(--spacing-2xs);
  &:where([data-block="true"]) {
    width: 100%;

    .select {
      width: 100%;
    }
  }

  &:where([data-invalid="true"]) {
    .select {
      border-color: var(--input-invalid-border-color);

      &:focus {
        border-color: var(--critical-color);
      }
    }
  }
}

.label {
  position: static;
  color: var(--text-muted);
  font-size: var(--text-sm);
  display: block;
  cursor: pointer;
  font-weight: var(--font-weight-medium);
}

.select {
  padding: 0 2.5rem 0 0.875rem;
  border: 1px solid var(--input-border-color);
  border-radius: var(--input-border-radius);
  outline: none;
  min-height: var(--control-height-m);
  font-family: var(--helvetica);
  font-size: var(--text-sm);
  -webkit-tap-highlight-color: transparent;
  white-space: nowrap;
  text-overflow: ellipsis;
  appearance: none;
  cursor: pointer;
  background: var(--input-bg-color);


  &:focus {
    outline: none;
    border-color: var(--input-focus-border-color);
    box-shadow: 0 0 0 3px var(--focus-ring-color);
  }

  &:invalid {
    border-color: var(--input-invalid-border-color);
  }
}

.chevron {
  position: absolute;
  top: calc(50% + 0.875rem);
  right: 0.25rem;
  display: flex;
  align-items: center;
  justify-content: center;
  pointer-events: none;
  width: 2rem;
  height: 50%;
  transform: translateY(-50%);
}

.errorMessage {
  color: var(--invalid-color);
  font-size: var(--text-xs);
  margin-top: var(--spacing-2xs);
}
