:root {
  --background: #ffffff;
  --foreground: #171717;
  --text-muted: #707072;
  --text-discount: #007d48;

  --product-tile-bg: #f5f5f5;

  --input-border-color: #9e9ea0;
  --input-border-radius: 8px;
  --input-bg-color: #ffffff;

  --input-invalid-border-color: rgb(207, 34, 46);
  --invalid-color: rgb(207, 34, 46);
}

html,
body {
  max-width: 100vw;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main-root {
  display: relative;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

fieldset,
h1,
h2,
h3,
h4,
h5,
h6,
label,
legend,
li,
p,
span,
strong,
ul {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
