.grid {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  gap: 16px;
  max-width: 1920px;
  padding: 0 48px;
  margin: 0 auto;
  position: relative;
}

.tile {
  grid-column: span 3;
}

.linkWrapper {
  display: contents;
}

.imageWrapper {
  position: relative;
  aspect-ratio: 1 / 1;
  background-color: rgb(245, 245, 245);
}

.productImage {
  object-fit: cover;
}

.productInfo {
  padding: 12px 0 2px 0;
}
.productPriceInfo {
  display: flex;
  padding-top: 10px;
}

.productPriceWrapper {
  display: inline-flex;
  flex-wrap: wrap;
}

.productPrice {
  &.isCurrentPrice {
    padding-right: 5px;
  }
  &.isStrikedOut {
    text-decoration: line-through;
    color: var(--text-muted);
  }
}

.discountLabel {
  margin-bottom: -4px;
  padding-left: 8px;
  font-weight: 600;
  color: var(--text-discount)
}
