.cartItemList {
  display: flex;
  flex-direction: column;
  list-style: none;
}

.cartLineItem {
  list-style: none;
  display: flex;
  flex-direction: column;
  padding: 24px 0;
  width: 100%;

  &:not(:last-child) {
    border-bottom: 1px solid #e5e5e5;
  }
}

.lineRow {
  display: flex;
}

.productThumbnail {
  width: 180px;
  min-width: 180px;
  padding-right: 16px;
  margin: 0px;
  img {
    background: var(--product-tile-bg);
  }
}

.thumbnailWrapper {
  aspect-ratio: 1 / 1;
  position: relative;
}

.productInfo {
  display: flex;
  flex-direction: column;
  -webkit-box-flex: 1;
  flex-grow: 1;
  min-width: 0px;
}

.productInfoWrapper {
  display: flex;
  height: 100%;
  justify-content: space-between;
}
.productDetails {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
}

.attributesText {
  color: var(--text-muted);
  font-size: 14px;
}
.linePrice {
  display: flex;
  gap: 10px;
  vertical-align: top;
  margin-right: -8px;
}

.subtotal,
.strikeThrough {
  text-decoration: line-through;
  color: var(--text-muted);
}

.lineItemControls {
  display: flex;
  align-items: center;
  gap: 8px;
}

.removeItemButton {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;

  &:where([data-loading="true"]) {
    cursor: not-allowed;
    pointer-events: none;
    justify-content: center;

    .removeIcon {
      opacity: 0;
    }
  }
}

.spinner {
  display: inline-block;
  border-top: 2px solid currentcolor;
  border-right: 2px solid currentcolor;
  border-bottom-style: solid;
  border-left-style: solid;
  border-radius: 99999px;
  border-bottom-width: 2px;
  border-left-width: 2px;
  border-bottom-color: transparent;
  border-left-color: transparent;
  animation: 0.45s linear 0s infinite normal none running spinnerAnimation;
  --spinner-size: 1rem;
  color: currentcolor;
  width: 1em;
  height: 1em;
}
.spinnerButton {
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  position: absolute;
  margin-inline-end: 0px;
  font-size: 1em;
}
.spinnerSpan {
  border: 0px;
  clip: rect(0px, 0px, 0px, 0px);
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0px;
  overflow: hidden;
  white-space: nowrap;
  position: absolute;
}

@keyframes spinnerAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.quantityControls {
  display: flex;
  width: fit-content;
  border: 1px solid #e5e5e5;
  border-radius: 4px;

  button {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    padding: 8px;
    width: 40px;
    height: 40px;
    background: none;
    border: none;

    @media (hover: hover) {
      &:hover {
        background: #e5e5e5;
      }
    }
  }
}

.quantity {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
}

.discountLabelContainer {
  margin-top: 4px;
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  color: var(--text-discount);
}
.discountLabel {
  display: flex;
  align-items: center;
  gap: 4px;
  color: var(--color-accent);
}
