.overlay {
	position: fixed;
	inset: 0;
	z-index: 9999;
	background: rgba(0 0 0 / 0.3);
	backdrop-filter: blur(10px);

	&[data-entering] {
		animation: sheet-blur 300ms;
	}

	&[data-exiting] {
		animation: sheet-blur 300ms reverse ease-in;
	}
}

.modal {
	z-index: 9999;
	position: fixed;
	top: 0;
	bottom: 0;
	right: 0;
	width: 100%;
	max-width: 460px;
	background: white;
	outline: none;
	border-left: 1px solid var(--border-color);
	box-shadow: -8px 0 20px rgba(0 0 0 / 0.1);

	&[data-entering] {
		animation: sheet-slide 300ms;
	}

	&[data-exiting] {
		animation: sheet-slide 300ms reverse ease-in;
	}

	@media (--bp-lg-up) {
		width: 50vw;
		max-width: 800px;
	}
}

.drawerHeader {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--spacing-2xl) var(--spacing-xl) var(--spacing-xl) var(--spacing-xl);

	@media (--bp-lg-up) {
		padding: var(--spacing-2xl) var(--spacing-3xl) var(--spacing-xl) var(--spacing-3xl);
	}
}

.closeButton {
	display: flex;
	background: transparent;
	border: none;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}
.dialogClose {
	display: flex;
	background: transparent;
	border: none;
	width: 48px;
	height: 48px;
	justify-content: center;
	align-items: center;
	margin-left: auto;
	position: absolute;
	top: 0;
	right: 0;
	cursor: pointer;
}

.overlayCloseIcon {
	display: none;
}

.dialog {
	display: flex;
	flex-direction: column;
	height: 100%;
	&:focus-visible {
		outline: none;
	}
}

@keyframes sheet-blur {
	from {
		background: rgba(0 0 0 / 0);
		backdrop-filter: blur(0);
	}

	to {
		background: rgba(0 0 0 / 0.3);
		backdrop-filter: blur(10px);
	}
}

@keyframes sheet-slide {
	from {
		transform: translateX(100%);
	}

	to {
		transform: translateX(0);
	}
}
